[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
tensorflow = "*"
pillow = "*"
split-folders = "*"
numpy = "*"
python-dotenv = "*"
pyttsx3 = "*"
huggingface-hub = "*"
opencv-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.13"
